

.registerDesign{
    height: 82vh;
    width: 100vw;
    background-color: rgb(238, 96, 238);
    font-display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
