.homeDesign {

    height: 89vh;
    width: 100vw;

    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start
}

.cardHomeDesign{

    height: 88vh;
    width: 35vw;
    /* border-radius: 0.5em; */
    background-image: url("../../assets/images/michitatu.jpg");
    background-color: rgb(12, 85, 12);

    display:block;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: sticky;
  top: 0;

 

}

.welcomeDesign{

    background-color: whitesmoke;
    padding-left: 30%;
    margin-left: 120%;
    margin-bottom: 20%;
   margin-top: 0%;
   width: 30vw;
   height: 88vh;
   align-items: center;
   justify-content: center;
}

/* .containerDesign{

    background-color: grey;
    border-radius: 0.5em;
    padding: 7%;
    width: 40vw;
    height: 20vh;
} */
div{
    border: 1px solid red
}